#toolbar {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

::deep .mud-button-root {
    margin: 0 8px;
}

::deep .mud-toolbar {
    margin: 0 -24px;
}

::deep .mud-divider {
    height: 36px;
}