@using OmmelSamvirke.Web.Pages.PageEditor.Components;

<div>
    <DraggableUIBlock>
        <MudPaper>
            <MudText>@_content.Headline</MudText>
        </MudPaper>
    </DraggableUIBlock>
</div>
