@using OmmelSamvirke.Web.Pages.PageEditor.Components;

<div>
    <DraggableUiBlock ContainerDimensions="@ContainerDimensions">
        <MudPaper>
            <MudText>@_content.Headline</MudText>
        </MudPaper>
    </DraggableUiBlock>
</div>
