@page "/sideredigering"

<div id="background" onwheel="@HandleScroll" onwheel:preventDefault="@preventScrolling" onkeydown="@HandleKeyDown" tabindex="0">
    <div id="grid" @attributes="gridStyle">
        
    </div>
</div>
