<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Intet resultat</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Beklager, vi kunne ikke finde noget på denne adresse</p>
        </LayoutView>
    </NotFound>
</Router>