@attribute [Route(PageRoutes.PageEditor)]

@implements IDisposable

@using OmmelSamvirke.Web.Pages.PageEditor.Components;
@using OmmelSamvirke.Web.Routing
@using OmmelSamvirke.Web.Enums.PageEditor
@using OmmelSamvirke.Web.Services.PageEditor

@inject LayoutService LayoutService

<PageTitle>Redigeringsværktøj</PageTitle>

<div id="page-editor-container">
    @if (LayoutService.SelectedLayout == PageLayout.Desktop)
    {
        <PageEditorLayout
            @ref="_desktopLayout"
            InitialDimensions="@((1600, 1600))"
        />
    }

    @if (LayoutService.SelectedLayout == PageLayout.Tablet)
    {
        <PageEditorLayout
            @ref="_tabletLayout"
            InitialDimensions="@((760, 1600))"
        />
    }

    @if (LayoutService.SelectedLayout == PageLayout.Mobile)
    {
        <PageEditorLayout
            @ref="_mobileLayout"
            InitialDimensions="@((360, 1600))"
        />
    }

    <ContentBlockToolBar OnAddUiBlock="@AddUiBlockToLayout" />
    <PropertiesPanel />
</div>
